@charset "utf-8";


/* Einbettung font */ 
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Handlee');

html{
	background-color: #CDC1C5;
	font-family:'Amatic SC', cursive;
	line-height: 0.7em;
	font-size: 1em;
	line-height: 1em;
	text-align: center;
	max-width: 100%;
	margin-left: 0em;
}



h1{
	font-family: 'Amatic SC', cursive;
	display: inline;
	margin-left: 20%;
	margin-top: 10%;

}
img{
	margin-left: 15%;
	max-width: 30%;
	margin-right: 15%;
	margin-bottom: 15%;
}	
.Box{	
    float: left;
	height: 500px;
	width: 50%; 
	background-color:white;
	text-align: center;
	display: box;	
	margin-left: 20%;
	margin-right: 20%;
	position: relative;
	margin-top: 10%;
	padding-top: 20%;
	float: left;

}
h1 p{
font-family:'Amatic SC', cursive;
	line-height: 0.7em;
	font-size: 0.8em;
}
